.footer {
   background-color: $mainDarkColor;
		&__text {
		}

		&__container {
		}

		&__body {
		}
}
.text-footer {
      @include adaptive-value("padding-top", 60, 40);
      @include adaptive-value("padding-bottom", 60, 40);
      background-image: url("../img/footer/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
		&__container {
		}

		&__title {
      text-align: center;
      font-weight: bold;
      @include adaptive-value("font-size", 30, 24);
      line-height: math.div(46, 30);
      color: $mainOrange;
      &:not(:last-child) {
        margin-bottom: em(30);
      }
		}

		&__text {
      color: #fff;
      font-size: rem(18);
      line-height: math.div(27, 18);
      @include adaptive-value("font-size", 19, 16);
		}
}

.body-footer {
      @include adaptive-value("padding-top", 100, 40);
      @include adaptive-value("padding-bottom", 50, 40);
      display: grid;
      @include adaptive-value("gap", 35, 20);
		&__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
      column-gap: rem(40);
      @include adaptive-value("row-gap", 40, 20);
      &:not(:last-child) {
        @include adaptive-value("padding-bottom", 30, 20);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
		}

		&__item {
		}

    &__bottom {
      color: rgba(255, 255, 255, 0.8);
      font-size: rem(14);
      line-height: math.div(27, 14);
      @media (min-width: em(1200)) {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
      }
    }

    &__rules {
      max-width: rem(820);
    }

    &__copy {
      span {
        white-space: nowrap;
      }
    }
}
.item-footer {

		&__spoller {
		}
}
.spoller-item-footer {

		&__item {
		}

		&__title {
      text-transform: uppercase;
      background-color: $mainDarkColor;
      border: none;
      color: #fff;
      font-weight: 600;
      line-height: math.div(22, 18);
      ._spoller-init & {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: rem(10);
        &::after {
          content: "\e900";
          font-size: rem(8);
          margin: em(10) 0 0 0;
          transition: transform 0.3s ease 0s;
          @extend %ic;
        }
        &._spoller-active {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }

		&__body {
        @include adaptive-value("padding-top", 30, 15);
        @include adaptive-value("padding-bottom", 30, 15);
		}
    &__text {
      max-width: rem(300);
      line-height: math.div(27, 18);
      color:#fff;
      a {
        color: $mainOrange;
        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
}
.menu-footer {
  &:not(:last-child) {
    @include adaptive-value("margin-bottom", 32, 20);
  }
		&__list {
		}

		&__item {
      line-height: 1.5;
      p {
        margin: 0;
      }
      display: flex;
      color: rgba(255, 255, 255, 0.8);
      &:not(:last-child) {
        margin-bottom: em(20);
      }
      &::before {
        font-size: rem(18);
        margin: rem(5) rem(10) 0 0;
      }
		}

		&__link {
      display: inline-flex;
      line-height: math.div(27, 18);
      color: rgba(255, 255, 255, 0.8);
      &::before {
        font-size: rem(18);
        margin: rem(5) rem(10) 0 0;
      }
      &._icon-rub {
        &::before {
          font-size: rem(15);
        }
      }
		}
}
.social-footer {
  display: flex;
  gap: rem(24);
  &__item {
  }

  &__link {
  }
}

//============================================================

.footer-subscribe {

  &__label {
    line-height: math.div(22, 18);
    display: block;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: em(15);
    }
  }

  &__line {
    display: flex;
    position: relative;
    .form__error {
      position: absolute;
      bottom: rem(-15);
      font-size: rem(10);
      color: red;
    }
  }

  &__input {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    height: rem(48);
    padding: 0 rem(20);
    color:#fff;
    width: 100%;
    border-right: none;
    border-radius: rem(3) 0 0 rem(3);
  }

  &__button {
    border-radius: 0 rem(3) rem(3) 0;
    flex: 0 0 rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainOrange;
    &::before {
      font-size: rem(8);
      color:#fff;
      transform: rotate(-90deg);
    }
  }
}

//=============================================================

