html
  head
    link(href='css/style.min.css')
  body
    include html/header
    main.page
      h1 Привет!!!!
      img(src="@img/icons8-facebook.png")
      include html/footer
      script(src='js/app.min.js')