@use "sass:math";

//====================================================================
.header {
    // overflow: hidden;
		&__top {
		}

		&__body {
		}

		&__catalog {
		}
}

//====================================================================

.top-header {
      background-color: $mainDarkColor;
      padding: rem(10) 0;
		&__container {
      display: flex;
      align-items: center;
      gap: rem(20);
      min-height: rem(50);
    button {
      background-color: $mainDarkColor;
    }
    .phones-header__phone {
      color: #FFFFFF;
    }
    .cart-header__icon svg {
      fill: white;
    }
    @media (max-width: $tablet) {
      gap: rem(30);
   }
		}
		&__menu {
      flex: 1 1 auto;
		}
		&__user {
      position: relative;
      z-index: 5;
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      line-height: math.div(22, 18);
      color: #FFFFFF;
      &::before {
        font-size: rem(28);
        margin-right: em(15);
      }
      @media (any-hover: hover) {
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
      @media (max-width: $tablet) {
      &::before {
        font-size: rem(35);
        margin-right: 0;
      }
         span {
           display: none;
         }
      }
		}
}
.menu-top-header {
  &__list {
    display: flex;
    row-gap: rem(5);
    @include adaptive-value("column-gap", 60, 20);
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: rem(20);
      padding: 0 rem(10);
    }
  }

		&__item {
      &_catalog {
        @media (min-width: $tablet) {
          display: none;
        }
      }
		}

  &__link {
    font-size: rem(16);
    line-height: math.div(20, 16);
    color: #FFFFFF;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    &_catalog {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      &::before {
        flex: 0 0 rem(14);
        height: rem(14);
        font-size: rem(12);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(rem(-2)) rotate(-90deg);
      }
    }
      @media (max-width: $tablet) {
    @include adaptive-value("font-size", 30, 18);
    }
  }
     @media (max-width: $tablet) {
     display: none;
   }
}
 .menu {
  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: $mainDarkColor;
      padding: rem(100) 0 rem(50) 0;
      transition: left 0.3s ease 0s;
      z-index: 4;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: rem(70);
        left: -100%;
        top: 0;
        background-color: $mainDarkColor;
      }
      &.active{
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
}
   @media (max-width: $tablet) {
     flex: 1 1 auto;
     display: flex;
     justify-content: flex-end;
   }
}
// . {

// 		&_icon-user {
// 		}
// }
// .body-header {
// }
// .catalog-header {
// }

//====================================================================

.body-header {
      padding: rem(10) 0;
      background-color: #ECF1F2;
		&__container {
      display: flex;
      align-items: center;
      min-height: rem(70);
    @media (max-width: $tablet) {
     justify-content: space-between;
   }
    @media (max-width: $mobileSmall) {
     justify-content: center;
   }
		}

		&__logo {
      @extend %ic;
      @extend ._icon-logo;
      font-size: rem(42);
      color: $mainDarkColor;
		}

		&__search {
      flex: 1 1 auto;
      @include adaptive-value("padding-left", 158, 40);
      @media (min-width: $tablet) {
         padding-right: rem(20);
      }
      @media (max-width: $tablet) {
         padding-left: rem(20);
      }
    @media (max-width: $mobileSmall) {
      padding-left: 0;
   }
		}

		// &__actions {
		// }
}
.search-header {

      background-color: rgba(7, 7, 7, 0.03);
      border-radius: rem(3);
      position: relative;
      border: 1px solid rgba(4, 4, 4, 0.5);
      height: rem(41);
      @media (min-width: $tablet) {
      max-width: rem(377);
      }

		&__button {
      position: absolute;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      left: rem(8);
      cursor: pointer;
      height: rem(41);
      width: rem(41);
		}

		&__input {
      width: 100%;
      height: rem(41);
      border: none;
      background-color: transparent;
      border-radius: rem(3);
      padding: 0px rem(20) 0 rem(50);
      color: $mainColor;
      font-size: rem(14);
      outline: none;
      &::placeholder {
         color: rgba(0, 0, 0, 0.5);
      }
		}
    @media (max-width: $mobileSmall) {
      background-color: #fff;
   }
}

//====================================================================

.actions-header {
   display: flex;
   align-items: center;
    @media (max-width: $tablet) {
     display: none;
   }
   @include adaptiveValue("column-gap", 30, 20, 1620, 1);
   font-weight: 600;
		&__location {
      display: inline-flex;
      align-items: center;
      margin: 0px rem(25) 0px 0px;
      color: #000;
      @include adaptiveValue("margin-right", 25, 0, 1620, 1);
      &::before {
        font-size: rem(24);
        margin: 0px em(10) 0px 0px;
      }
      @media (any-hover: hover) {
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
		}

		&__phones {
		}

		&__favorite {
      position: relative;
      z-index: 5;
      font-size: rem(27);
		}

		&__cart {
         flex: 0 0 auto;
		}
}
.phones-header {
   position: relative;
   z-index: 5;
		&__items {
		}

		&__item {
         position: relative;
         display: flex;
		}

		&__phone {
         font-weight: 600;
         white-space: nowrap;
         line-height: math.div(22, 18);
         color: #000;
         &::before {
         @extend %ic;
         @extend ._icon-footer-phone;
         display: none;
         }
          @media (max-width: $tablet) {
            font-size: rem(25);
          }
          @media (max-width: $mobileSmall) {
            &::before {
              display: block;
              font-size: rem(32);
            }
            span {
              display: none;
            }
          }
		}

		&__arrow {
         border: none;
         color: $mainOrange;
         font-size: rem(10);
         height: rem;
         transition: transform 0.3s ease 0s;
         margin: 0px 0px 0px em(17);
         cursor: pointer;
         &._spoller-active {
           transform: rotate(-180deg);
         }
          @media (max-width: $tablet) {
            display: none;
          }
		}

		&__list {
         position: absolute;
         display: none;
         top: 100%;
        //  width: 100%;
         left: 0;
         border-radius: rem(10);
         background-color: #FFFFFF;
         padding: rem(15);
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
         z-index: 5;
         li {
            &:not(:last-child) {
               margin-bottom: em(7);
            }
         }
    @media (max-width: $tablet) {
     display: none;
   }
		}
    	&__callback {
      font-weight: 700;
      line-height: math.div(22, 16);
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
		}
    .popup-link {
      color: $mainOrange;
    @media (max-width: $tablet) {
     display: none;
   }
    }
}
.cart-header {
   display: flex;
   column-gap: rem(15);
   align-items: center;
   position: relative;
   z-index: 5;
		&__icon {
         flex: 0 0 rem(37);
         font-size: rem(35);
         position: relative;
         span {
            position: absolute;
            width: rem(14);
            height: rem(14);
            background-color: $mainOrange;
            font-size: rem(10);
            border-radius: 50%;
            display: flex;
            top: 0;
            right: 0;
            justify-content: center;
            align-items: center;
         }
		}

		&__body {
         flex: 0 0 auto;
         font-size: rem(16);
         line-height: math.div(20, 16);
         @media (max-width: em(1250)) {
           display: none;
         }
		}

		&__summ {
         font-weight: 500;
         &:hot(:last-child) {
            margin-bottom: em(5);
         }
         a {
            color: $mainOrange;
         }
		}

		&__link {
      color: $mainOrange;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
		}
}
//====================================================================

.catalog-header {
   background-color: $mainDarkColor;
   position: relative;
   &__container {
   }

   &__menu {
   }
    @media (max-width: $mobileSmall) {
      padding: rem(20) 0;
   }
}
.menu-catalog {
  svg {
    display: none;
  }
  @media (max-width: $tablet) {
    svg {
      display: flex;
      height: rem(30);
      width: rem(30);
    }
  }

   &__list {
      display: flex;
      column-gap: rem(10);
      justify-content: space-between;
      @media (max-width: $tablet) {
        flex-direction: column;
        row-gap: rem(25);
      }
   }

   &__item {
   }

   &__link {
      color: #fff;
      display: flex;
      position: relative;
      transition: color 0.3s ease 0s;
      background-color: $mainDarkColor;
      border: none;
      font-size: rem(16);
      &[data-parent] {
        &::before {
          @extend %ic;
          @extend ._icon-arrow-bottom;
          display: none;
          @media (max-width: $tablet) {
            display: block;
            transform: translateY(rem(5)) rotate(-90deg);
            font-size: rem(10);
          }
        }
        @media (max-width: $tablet) {
          display: flex;
          width: 100%;
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
      @media (min-width: $tablet) {
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: rem(70);
        padding: 0px rem(10);
      }
      &::after {
         content: "";
         opacity: 0;
         visibility: hidden;
         position: absolute;
         bottom: rem(1);
         left: rem(10);
         height: 1px;
         width: calc(100% - rem(20));
         background-color: $mainOrange;
         transition: all 0.3s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover {
          color: $mainOrange;
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @media (min-width: $tablet) {
        &._sub-menu-active {
          color: $mainOrange;
          &::after {
            opacity: 1;
            visibility: visible;
          }
       }
      }
      @media (max-width: $tablet) {
        @include adaptive-value("font-size", 30, 18);
        }
   }

   &__sub-menu {
      width: 100%;
      left: 0;
      top: 100%;
      background-color: $mainDarkColor;
   }
   &__svg-left-arrow-back {
     display: none;
    @media (max-width: $tablet) {
      width: 25%;
      margin: 0 0 rem(40) 0;
     display: inline-flex;
     align-items: center;
      @include adaptive-value("column-gap", 40, 5);
    }
   }
   &__back {
     display: none;
      background-color: $mainDarkColor;
      border: none;
      color: #fff;
     @media (max-width: $tablet) {
       display: inline-flex;
       padding: 0;
       @include adaptive-value("font-size", 40, 18);
     }
   }
    @media (max-width: $tablet) {
     position: fixed;
     top: 0;
     left: -100%;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: $mainDarkColor;
     padding: rem(25) 0 rem(50) 0;
     transition: left 0.3s ease 0s;
     .catalog-open & {
       left: 0;
       z-index: 6;
     }
   }
}
.sub-menu-catalog {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $mainDarkColor;
    padding: rem(25) 0 rem(50) 0;
    transition: left 0.3s ease 0s;
    .sub-menu-open & {
      display: block;
      z-index: 6;
    }
  }
  &__svg-left-arrow-back {
    display: none;
    @media (max-width: $tablet) {
      width: 25%;
      margin: 0 0 rem(40) 0;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__back {
    display: none;
     background-color: $mainDarkColor;
     border: none;
     color: #fff;
    @media (max-width: $tablet) {
      display: inline-flex;
      padding: 0;
      @include adaptive-value("font-size", 40, 18);
    }
  }
   &__block {
   padding-bottom: rem(30);
    display: none;

    @for $var from 1 to 6 {
       &_#{$var} {
         // justify-content: start;
         grid-template-columns: repeat($var, minmax(auto, rem(320)));
       }
    }
    &._sub-menu-open {
      display: grid;
      @media (max-width: $tablet) {
        display: block;
      }
   }
   }
    &__container {
      padding: 0px rem(10);
    }

   &__category {
      color: #fff;
      font-size: rem(16);
      line-height: math.div(20, 16);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
      @media (min-width: $tablet) {
        font-weight: 700;
        padding: rem(30) rem(15) rem(30) 0;
        }
      @media (max-width: $tablet) {
        &:not(:last-child) {
          margin-bottom: rem(25);
        }
        }
   }

   &__list {
     display: flex;
     flex-direction: column;
     gap: rem(20);
     padding: rem(30) rem(15) rem(30) 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     @media (max-width: $tablet) {
       display: none;
     }
   }

   &__item {
   }

   &__link {
        color: #fff;
        font-size: rem(16);
        line-height: math.div(20, 16);
        @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
   }
   &__link-category {
    @media (max-width: $tablet) {
      @include adaptive-value("font-size", 30, 18);
    }
   }

  &__footer {
    padding: rem(30) rem(15) rem(30) 0;
    @media (max-width: $tablet) {
      display: none;
    }
  }

   &__all {
      color: $mainOrange;
      font-size: rem(16);
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
   }
}

//====================================================================
// Burger
.icon-menu {
  background-color: black;
  border: none;
  @media (max-width: $tablet) {
    z-index: 10;
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: #FFFFFF;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.active::before {
      transform: rotate(45deg);
      top: 9px;
      transition: all 0.3s ease;
    }
    &-span {
      position: absolute;
      background-color: #FFFFFF;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
    &-span.active {
      transform: scale(0);
    }
}
}


@import "base";
